* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'NorseBold';
    src: url('font/norse-bold-webfont.woff2') format('woff2'),
         url('font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    height: 100vh;
    display: flex;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #759f89;
}
.img-container {
    position: relative;
    height: 100%;
    min-width: 650px;
}
.bg-image {
    max-height: 100%;
    width: 100%;
}
.logo-container {
    position: absolute;
    width: 100%;
    height: 170px;
    left: 0;
    top: 200px;
    background-color: rgba(22 21 21 / 50%);
}
.odin-logo {
    position: absolute;
    width: 100px;
    left: 200px;
    top: 20px;
}
.logo-text {
    position: absolute;
    left: 300px;
    top: 35px;
    font-family: 'NorseBold';   
    font-size: 7rem;
    color: white;
}
.img-credit {
    position: absolute;
    bottom: 0;
    color: white;
    left: 200px;
    font-size: 1.2rem;
}
.img-credit a {
    color: #00ff0a;
}
form {
    background-color: #ecf0f3;
    width: 100%;
}
p {
    width: 650px;
}
.form-heading, .field-title {
    font-size: 1.3rem;
    font-weight: 600;
}
fieldset{
    background-color: rgb(255 255 255);
    padding-bottom: 20px;
    border: none;
    box-shadow: 4px 4px 5px #d9d6d6;
}
.field-title {
    margin-bottom: 15px;
}

.form-heading,fieldset, form>p {
    padding-left: 50px;
}
button {
    margin: 30px 0 30px 50px;
    padding: 15px;
    color: white;
    background-color: #596D48;
    border-radius: 8px;
    text-shadow: 1px 1px 2px white;
    width: 200px;
    border: none;
}
button:hover {
    box-shadow: none;
    opacity: 0.8;
    cursor: pointer;
}
.form-heading {
    margin-top: 125px;
}
.italic {
    font-style: italic;
}
input,button,label {
    font-size: inherit;
}
p+p+p {
    margin: 15px 0 40px 0 ;
}
.first-row, .second-row, .third-row {
    display: flex;
   margin: 7px;
}
label {
    display: block;
}
fieldset > div > div:first-child {
    margin-right: 50px;
}
input {
    font:inherit;
    border:1px solid #E5E7EB;
    border-radius: 5px;
    background-color: #f7f3f3;
    width: 235px;
}
input[type="password"]:invalid {
    border: 1px solid red;
}
input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}
form >p {
    margin-bottom: 125px;
}