* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'NorseBold';
    src: url('font/norse-bold-webfont.woff2') format('woff2'),
         url('font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    height: 100vh;
    display: flex;
}
.img-container {
    position: relative;
    height: 100%;
    max-width: 650px;
}
.bg-image {
    max-height: 100%;
    width: 100%;
}
.logo-container {
    position: absolute;
    width: 100%;
    height: 170px;
    left: 0;
    top: 200px;
    background-color: rgba(22 21 21 / 50%);
}
.odin-logo {
    position: absolute;
    width: 100px;
    left: 200px;
    top: 20px;
}
.logo-text {
    position: absolute;
    left: 300px;
    top: 35px;
    font-family: 'NorseBold';
    font-size: 7rem;
    color: white;
}
.img-credit {
    position: absolute;
    bottom: 0;
    color: white;
    left: 200px;
    font-size: 1.2rem;
}
.img-credit a {
    color: #00ff0a;
}
.form-heading {
    font-size: 1.3rem;
    font-weight: bold;
}
p {
    width: 600px;
}